.DS_Store
.idea
.git
node_modules
jspm_packages
public
/dist/temp
example/exceptionless.js
dist

packages/node/.eslintcache

packages/angularjs/.eslintcache

packages/browser/.eslintcache

packages/core/.eslintcache

packages/node-submit-sync/.eslintcache

*.tsbuildinfo
