node_modules
bower_components
public
.DS_Store
/.idea
/src/.idea

src/exceptionless.js.map
src/exceptionless.js
src/exceptionless-spec.js
src/exceptionless-spec.js.map
/src/dist
/src/typings
/typings
