.DS_Store
.idea
.git
node_modules
bower_components
dist
*.eslintcache
*.tsbuildinfo

test-data
packages/browser/src/plugins/stacktracejs
packages/node/test-data

yarn.lock
example/express/.exceptionless
